body {
	background-color: powderblue;
	font-family: Helvetica, Arial, Sans-Serif;
}
h1   {
	color: blue;
	text-align: center;
}
p    {
	color: blue;
}
ul	{
	color: blue;
}
ol	{
	color: blue;
}
